.testimonial {
    font-size: 1em;
    margin: 2em 0;
    background-color: #308972;
}

.testimonial__list {
    width: 80%;
    margin: auto;
}

.testimonial:first-of-type {
    margin-top: 5em;
}

.testimonial__image-container {
    width: 65%;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.testimonial__image {
    width: 100%;
    height: 100%;
    vertical-align: top; /* Fix whitespace bug for inline-block image */
}

.testimonial__info {
    text-align: right;
    padding: 1em;
    display: inline-block;
    vertical-align: middle;
    width: 30%;
}

#customer-2.testimonial {
    text-align: right;
}

#customer-2 .testimonial__info {
    text-align: left;
}

.testimonial__name {
    display: inline-block;
    margin: 0 0 .3em 0;
    padding: .25em;
    color: #FF595A;
    background-color: #001233;
    box-shadow: .1em .1em 0 #CAC0B3;
    border-radius: .5em;
}

.testimonial__subtitle {
    margin: 0;
    font-size: 1em;
    color: #CCC;
}

.testimonial__subtitle a {
    color: inherit;
    text-decoration: none;
}

.testimonial__subtitle a:hover,
.testimonial__subtitle a:active {
    color: #7A7A7A;
}

.testimonial__text {
    margin: 1em 0;
}