.testimonial {
    font-size: 1.2rem;
    margin: 2rem 0;
    background-color: #308972;
}

.testimonial__info {
    /* text-align: left; */
    padding: 0.9rem;
    display: inline-block;
    vertical-align: middle;
    width: 30%;
}

.testimonial__list {
    width: 80%;
    margin: auto;
}

.testimonial:first-of-type {
    margin-top: 5rem;
}

.testimonial__image-container {
    width: 65%;
    max-width: 600px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.testimonial__image {
    width: 100%;
    vertical-align: top; /* Fix whitespace bug for inline-block image */
}

#customer-2.testimonial {
    text-align: right;
}

#customer-2.testimonial__info {
    text-align: right;
}

.testimonial__name {
    font-size: 2rem;
    display: inline-block;
    margin: 0.75rem 0;
    padding: 0.5rem;
    color: #FF595A;
    background-color: #001233;
    box-shadow: 5px 5px 0 #CAC0B3;
    border-radius: 5px;
}

.testimonial__subtitle {
    margin: 0;
    font-size: 1.1rem;
    color: #FFF;
}

.testimonial__subtitle a {
    color: inherit;
    text-decoration: underline dotted #CCC;
}

.testimonial__subtitle a:hover,
.testimonial__subtitle a:active {
    text-decoration: none;
}

.testimonial__text {
    margin: 0.75rem 0;
    color: #FFF;
}