/* h1 {
    font-size: 2em;
} */

.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: #FFF;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
    color: #001233;
    text-align: center;
    margin: 0 0 1rem 0;
}

.modal__actions {
    text-align: center;
}

.modal__action {
    border: 1px solid #308972;
    background: #308972;
    text-decoration: none;
    color: #FFF;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
}

.modal__action--no {
    background: #FF595A;
    border-color: #FF595A;
}

.modal__action--no:hover,
.modal__action--no:active {
    background: #FF0000;
    border-color: #FF0000;
}

#product-overview {
    background: url("/projects/csspractice/images/main-header-bg.jpg") center/cover no-repeat;
    width: 100vw;
    height: 40vh;
    position: relative;
}

#product-overview h1 {
    color: #001233;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -50%);
}

.section-title {
    color: #CAC0B3;
    text-align: center;
}

.plan__list {
    width: 80%;
    margin: auto;
    text-align: center;
}

.plan {
    background: #CAC0B3;
    color: #001233;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    box-shadow: 5px 5px 0 #FF595A;
    border-radius: 5px;
}

.plan--highlighted {
    background: #FF595A;
    box-shadow: 5px 5px 0 #CAC0B3;
}

.plan__annotation {
    background: #001233;
    color: #FF595A;
    padding: 0.5rem;
    box-shadow: 2px 2px 0 #CAC0B3;
    border-radius: 5px;
}

.plan__title {
    color: #FF595A;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

.plan__price {
    color: #308972;
    margin-top: 0;
}

.plan--highlighted .plan__title {
    color: #001233;
}

.plan--highlighted .plan__price {
    color: #CAC0B3;
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__feature {
    margin: 0.5rem 0;
}

#key-features {
    background: #FF595A;
    margin-top: 5rem;
    padding: 1rem;
}

#key-features .section-title {
    color: #001233;
    margin: 2rem;
}

.key-feature__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.key-feature__image {
    background: #001233;
    width: 128px;
    height: 128px;
    border: 2px solid #CAC0B3;
    border-radius: 50%;
    margin: auto;
    padding: 1.2rem;
}

.key-feature__description {
    color: #001233;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}