@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #001233;
  color: #CAC0B3;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  margin: 0;
}

@supports (display: grid) {
  body {
    display: grid;
    grid-template-rows: 2rem auto fit-content(7.2rem);
    grid-template-areas: "header" "main" "footer";
    height: 100%;
  }
}
main {
  /* grid-row: 2 / 3; */
  grid-area: main;
}

.backdrop {
  position: fixed;
  display: none;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms linear;
}

.main-header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a253a;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0.75rem 1rem;
  z-index: 60;
}

.toggle-button {
  width: 2.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: #FFF;
  display: block;
  margin: 0.3rem 0;
}

.main-header__brand {
  color: #CAC0B3;
  text-decoration: none;
  font-weight: 700;
  visibility: hidden;
}

.main-header__brand img {
  height: 2rem;
  vertical-align: middle;
}

.main-header__brand:hover {
  color: #FF595A;
}

.main-nav {
  display: none;
}

.main-nav__items {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  margin: 0 1rem 0 0;
}

.main-nav__item a,
.mobile-nav__item a {
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 0.25rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: #FFF;
  border-bottom: 5px solid #FFF;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
  color: #001233;
  background: #FF595A;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.main-nav__item--cta {
  animation: buttonWiggle 500ms 1s 8 ease-out none;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
  color: #001233;
  background: #FFF;
  border: none;
}

.main-footer {
  padding: 2rem;
  margin: 0;
  text-align: center;
  /* background: #1a253a; */
  background-color: #308972;
  /* grid-row: 3 / 4; */
  grid-area: footer;
}

.footer-nav {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.footer-nav p {
  padding: 0.5rem 0;
  margin: 0;
}

.main-footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-footer__link {
  margin: 0.5rem 0;
}

.main-footer__link a {
  color: #FFF;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #CCC;
  text-decoration: none;
}

.main-footer p {
  font-size: 0.75rem;
}

.credit {
  color: #FFF;
  text-decoration: underline dotted #CCC;
}

.credit:hover,
.credit:active {
  text-decoration: none;
}

.mobile-nav {
  transform: translateX(-100%);
  transition: transform 300ms ease-out;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: #308972;
  width: 70%;
  height: 100vh;
}

.mobile-nav__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

.button {
  background-color: #001233;
  color: #FFF;
  font: inherit;
  font-weight: bold;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: #308972;
  color: #001233;
}

.button:focus {
  outline: none;
}

/* .button[disabled] {
    cursor: not-allowed;
    border: #474747;
    background: #CCC;
    color: #474747;

} */
.submit-button {
  background-color: #308972;
  color: #FFF;
}

.submit-button:hover,
.submit-button:active {
  background-color: #FFF;
  color: #308972;
}

.open {
  display: block !important;
  opacity: 1 !important;
  transform: translateY(0) !important;
}

@media (min-width: 40rem) {
  .toggle-button {
    display: none;
  }
  .main-header__brand {
    visibility: visible;
  }
  .main-nav {
    display: flex;
  }
  .main-footer__link {
    margin: 0 0.5rem;
  }
  .main-footer__links {
    flex-direction: row;
    justify-content: center;
  }
}
@keyframes buttonWiggle {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(10deg);
  }
}

/*# sourceMappingURL=shared.css.map */
